.auth {

}
.auth-login {
  min-height: 100vh;
  padding: 40px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .btn {
    width: 100%;
  }
}
.logo {
  margin-bottom: 24px;
}
.auth-form {
  width: 328px;
	margin-left: auto;
	margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-btn {
  width: 328px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}