$c-black: #000;
$c-dark-gray1: #6A7686;
$c-dark-gray2: #546274;
$c-dark-gray3: #494F57;
$c-gray1: #333;
$c-gray2: #4F4F4F;
$c-gray3: #828282;
$c-gray4: #BDBDBD;
$c-gray5: #E0E0E0;

$bg-gray: #F2F2F2;
$bg-light: #F5F5F5;

$br-gray: #D9D9D9;
